@model UI.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


<hr />
@{
    var className = "";
    var provider = "";
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                No existen servicios de autenticación externos configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artículo</a>
                para obtener detalles sobre cómo configurar esta aplicación ASP.NET para admitir el inicio de sesión a través de servicios externos.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" class="text-center">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        provider = p.Caption.ToLower();
                        className = "btn btn-circle btn-" + provider;
                        <button type="submit" class="@className" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption"><i class="fa fa-@provider"></i></button>
                    }
                </p>
            </div>
        }
    }
}
